# === Python ===
.venv/
__pycache__/
*.py[cod]
*.pyo

# === System ===
.DS_Store
*.log

# === Scrap results ===
# Ignore all dynamically created folders with images
*/**/*.webp
*/**/*.jpg
*/**/*.jpeg
*/**/*.png

*/  # <- option radicale : ignore tout dossier généré par le scraper
