# === Python ===
.venv/
__pycache__/
*.py[cod]
*.pyo

# === System ===
.DS_Store
*.log

# === Scrap results ===
# Ignore all dynamically created folders with images
*/**/*.webp
*/**/*.jpg
*/**/*.jpeg
*/**/*.png

# OR if you want to ignore the folders directly (regardless of format)
Arakni_Marionette/
Death_Touch/
*/  # <- option radicale : ignore tout dossier généré par le scraper
